@using ASP.NETScholl.ViewModels;
@model GradeViewModel

<form asp-action="Create">
  <div>
    <labe asp-for="StudentId"></labe>
    <select class="form-control" asp-items="ViewBag.Students" asp-for="StudentId"></select>          <!--ViewBag přídá seznam studentů-->
  </div>
  <div>
    <label asp-for="SubjectId"></label>
    <select class="form-control" asp-items="ViewBag.Subjects" asp-for="SubjectId"></select>
  </div>            
  <div>
    <label asp-for="Topic"></label>
    <input type="text" placeholder="Topic that was graded" class="form-control" asp-for="Topic"/>
  </div>
  <div>
    <label asp-for="Mark"></label>
    <input type="number" max="5" min="1" class="form-control" placeholder="Grade" asp-for="Mark" />
  </div>
  <input class="btn btn-success mt-2" type="submit" value="Create" />
</form>