@model string;
<h4>Create a role</h4>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create">    
  <div class="form-group m-2">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" />
  </div>  
  <input class="btn btn-success m-2" type="submit" value="Create"/>
</form>