@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
<h4>All Roles</h4>
<a class="btn btn-success" asp-action="Create">Create</a>
<table class="table table-bordered mt-2"> 
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  @foreach (var role in Model) {
    <tr>
      <td>@role.Id</td>
      <td>@role.Name</td>
      <td><a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning">Edit</a></td>
      <td>
        <form asp-action="Delete" asp-route-id="@role.Id">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
  }
</table>